@{
    ViewData["Title"] = "Consultar Cep";
}

<div class="container mt-5 mx-auto bg-white rounded shadow p-4">
    <h2 class="mb-4">Consultar Cep</h2>

    <div class="input-group mb-3">
        <input type="text" id="cepInput" class="form-control shadow-none" placeholder="Insira um Cep">
        <div class="input-group-append">
            <a onclick="consultationCEP()" class="btn btn-primary">Consultar</a>
        </div>
    </div>

    <div class="table-responsive">
    <table class="table">
            <tbody>
                <tr>
                    <th scope="row" style="width: 20%;">Bairro</th>
                    <td id="bairro"></td>
                </tr>
                <tr>
                    <th scope="row" style="width: 20%;">CEP</th>
                    <td id="cep"></td>
                </tr>
                <tr>
                    <th scope="row" style="width: 20%;">Cidade</th>
                    <td id="cidade"></td>
                </tr>
                <tr>
                    <th scope="row" style="width: 20%;">Complemento</th>
                    <td id="complemento2"></td>
                </tr>
                <tr>
                    <th scope="row" style="width: 20%;">Endereço</th>
                    <td id="end"></td>
                </tr>
                <tr>
                    <th scope="row" style="width: 20%;">UF</th>
                    <td id="uf"></td>
                </tr>
            </tbody>
    </table>
</div>
</div>

<script>
    toastr.options.closeButton = true;

    function consultationCEP() {
        var cepInput = document.getElementById("cepInput");
        var cep = cepInput.value;

        $.ajax({
            type: 'POST',
            url: '/Correios/ConsultaCEP',
            data: { cep: cep },
            success: function (response) {
                console.log(response);

                if (response.error) {
                    toastr.error(response.error, 'Erro');
                } else {
                    $("#bairro").text(response.bairro);
                    $("#cep").text(response.cep);
                    $("#cidade").text(response.cidade);
                    $("#complemento2").text(response.complemento2);
                    $("#end").text(response.end);
                    $("#uf").text(response.uf);

                    toastr.success('CEP encontrado com sucesso.', 'Sucesso');
                }
            },
            error: function () {
                toastr.error('Erro ao consultar CEP', 'Erro');
            }
        });
    }
</script>