@{
    ViewData["Title"] = "Consultar Informarção";
}

<div class="container mt-5 mx-auto bg-white rounded shadow p-4">
    <h2 class="mb-4">Consultar Informarção de Bancos do Brasil</h2>

    <div class="row mb-3 justify-content-end text-end">
        <div class="col mb-3">
            <a class="btn btn-success btn-block" onclick="loadBankInfo()">Consultar e mostrar</a>
        </div>
    </div>

    <div>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Ispb</th>
                    <th>Nome</th>
                    <th>Código</th>
                    <th>Nome Completo</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
        <div class="row mt-5 justify-content-center text-center">
            <div class="col-md-2">
                <a class="btn btn-primary btn-block" id="previousPage" onclick="previousPage()">Anterior</a>
            </div>
            <div class="col-md-2">
                <span id="currentPage" class="align-self-center text-center btn"></span>
            </div>
            <div class="col-md-2">
                <a class="btn btn-primary btn-block ml-auto" id="nextPage" onclick="nextPage()">Próxima</a>
            </div>
        </div>
    </div>
</div>

<script>
    let currentPage = 1;
    const itemsPerPage = 10;
    let data = [];
    toastr.options.closeButton = true;

    function previousPage() {
        if (currentPage > 1) {
            currentPage--;
            updateTable();
        }
    }

    function nextPage() {
        const maxPage = Math.ceil(data.length / itemsPerPage);
        if (currentPage < maxPage) {
            currentPage++;
            updateTable();
        }
    }

    function updateTable() {
        const tableBody = document.getElementById("tableBody");
        tableBody.innerHTML = '';

        const startIndex = (currentPage - 1) * itemsPerPage;
        const endIndex = startIndex + itemsPerPage;
        const pageData = data.slice(startIndex, endIndex);

        pageData.forEach(function (item, i) {
            const row = document.createElement("tr");
            const emptyCell = document.createElement("td");
            const ispbCell = document.createElement("td");
            const nameCell = document.createElement("td");
            const codeCell = document.createElement("td");
            const fullNameCell = document.createElement("td");

            emptyCell.textContent = "";
            ispbCell.textContent = item.ispb;
            nameCell.textContent = item.name;
            codeCell.textContent = item.code;
            fullNameCell.textContent = item.fullName;

            ispbCell.style.width = "12vw";
            codeCell.style.width = "6vw";

            row.appendChild(emptyCell);
            row.appendChild(ispbCell);
            row.appendChild(nameCell);
            row.appendChild(codeCell);
            row.appendChild(fullNameCell);

            tableBody.appendChild(row);
        });

        updatePageButtons();

        const totalPage = Math.ceil(data.length / itemsPerPage);

        const currentPageElement = document.getElementById("currentPage");
        currentPageElement.textContent = `${currentPage} | ${totalPage}`;
        currentPageElement.classList.add("btn-primary");
    }


    function updatePageButtons() {
        const previousButton = document.getElementById("previousPage");
        const nextButton = document.getElementById("nextPage");
        const maxPage = Math.ceil(data.length / itemsPerPage);

        if (currentPage === 1) {
            previousButton.disabled = true;
        } else {
            previousButton.disabled = false;
        }

        if (currentPage === maxPage) {
            nextButton.disabled = true;
        } else {
            nextButton.disabled = false;
        }
    }

    function loadBankInfo() {
        $.ajax({
            type: "GET",
            url: "/bank/getBankInfo",
            success: function (response) {

                if (response.error) return toastr.error(response.error, 'Erro');

                data = response;
                updateTable();
                toastr.success('Consulta realizada com sucesso!', 'Sucesso');
            },
            error: function () {
                toastr.error('Erro ao consultar os dados', 'Erro');
            }
        });
    }
</script>
