@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container text-center mt-5 h-75">
        <div class="rounded-circle bg-dark p-1 mx-auto" style="width: 150px; height: 150px;">
            <img src="https://avatars.githubusercontent.com/u/130710510?v=4" alt="Venilson Santos" class="img-fluid rounded-circle" style="max-width: 100%; height: auto;">
        </div>
        <h1 class="display-4 mt-3">Venilson Santos</h1>
        <h2 class="mb-4">Desenvolvedor Backend</h2>
        <div class="social-links">
            <a href="https://github.com/venilson2" class="btn btn-dark mx-2" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/venilson1/" class="btn btn-dark mx-2" target="_blank">LinkedIn</a>
            <a href="https://www.instagram.com/padawan_programmer/" class="btn btn-dark mx-2" target="_blank">Instagram</a>
        </div>
    </div>
</div>
