@{
    ViewData["Title"] = "Ordenação de Número";
}

<div class="container mt-5">
    <h2>Ordenação de Números</h2>

    <div class="mb-3">
        <input type="text" id="numeroInput" class="form-control" placeholder="Insira um número">
        <button onclick="adicionarNumero()" class="btn btn-primary mt-2">Adicionar</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Números Ordenados</th>
            </tr>
        </thead>
        <tbody class="bg-light">
            <tr class="bg-light">
                <td id="numbersTable"></td>
            </tr>
        </tbody>
    </table>
</div>

<button class="btn btn-primary mt-2" onclick="recordNumbers()">Gravar em arquivo</button>

<script>
    var numbers = [];

    function adicionarNumero() {
        var numeroInput = document.getElementById("numeroInput");
        var numero = parseFloat(numeroInput.value);

        toastr.options.closeButton = true;

        if (!isNaN(numero) && /^[0-9]+$/.test(numeroInput.value)) {
            $(document).ready(function () {
                toastr.success('Ação realizada com sucesso!', 'Sucesso');
            });

            numbers.push(numero);
            numeroInput.value = "";

            var numbersTable = document.getElementById("numbersTable");

            var numbersOrderned = numbers.sort(function (a, b) { return a - b; });

            numbersTable.textContent = numbersOrderned.join(", ");
        } else {
            $(document).ready(function () {
                toastr.error('Caracter digitado precisa ser um número válido!', 'Erro');
            });
        }
    }

    function recordNumbers() {
        var numberOrdering = numbers.sort(function (a, b) { return a - b; });
        var numerText = numberOrdering.join('\n');
        var blob = new Blob([numerText], { type: "text/plain" });
        var url = window.URL.createObjectURL(blob);
        var a = document.createElement("a");
        a.href = url;
        a.download = "numeros_ordenar.txt";

        try {
            a.click();
        } catch (error) {
            toastr.error('Erro ao fazer download do arquivo.', 'Erro');
        }

        sendNumbers()
    }

    function sendNumbers() {
        var numberOrdering = numbers.sort(function (a, b) { return a - b; });

        $.ajax({
            type: "POST",
            url: "/Home/SaveNumbersFile",
            data: { numbers: numberOrdering },
            success: function (response) {
                toastr.success('Arquivo salvo com sucesso!', 'Sucesso');
            },
            error: function () {
                toastr.error('Erro ao salvar arquivo.', 'Erro');
            }
        });
    }
</script>
