@{
    ViewData["Title"] = "Ordenação de Número";
}

<div class="container mt-5 mx-auto bg-white rounded shadow p-4">
    <h2 class="mb-4">Ordenação de Números</h2>

    <div class="input-group mb-3">
        <input type="text" id="numeroInput" class="form-control shadow-none" placeholder="Insira um número">
        <div class="input-group-append">
            <a onclick="adicionarNumero()" class="btn btn-primary">Adicionar</a>
            <a class="btn btn-success" onclick="recordNumbers()">Gravar em arquivo</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Números Ordenados</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="numbersTable"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    var numbers = [];
    toastr.options.closeButton = true;

    function adicionarNumero() {
        var numeroInput = document.getElementById("numeroInput");
        var numero = parseFloat(numeroInput.value);

        if (!isNaN(numero) && /^[0-9]+$/.test(numeroInput.value)) {
            $(document).ready(function () {
                toastr.success('Ação realizada com sucesso!', 'Sucesso');
            });

            numbers.push(numero);
            numeroInput.value = "";

            var numbersTable = document.getElementById("numbersTable");

            var numbersOrderned = numbers.sort(function (a, b) { return a - b; });

            numbersTable.textContent = numbersOrderned.join(", ");
        } else {
            $(document).ready(function () {
                toastr.error('Caracter digitado precisa ser um número válido!', 'Erro');
            });
        }
    }

    function recordNumbers() {
        var numberOrdering = numbers.sort(function (a, b) { return a - b; });
        var numerText = numberOrdering.join('\n');
        var blob = new Blob([numerText], { type: "text/plain" });
        var url = window.URL.createObjectURL(blob);
        var a = document.createElement("a");
        a.href = url;
        a.download = "numeros_ordenar.txt";

        try {
            a.click();
        } catch (error) {
            toastr.error('Erro ao fazer download do arquivo.', 'Erro');
        }

        sendNumbers(numberOrdering)
    }

    function sendNumbers(numberOrdering) {

        $.ajax({
            type: "POST",
            url: "/file/SaveNumbersFile",
            data: { numbers: numberOrdering },
            success: function (response) {
                toastr.success('Arquivo salvo com sucesso!', 'Sucesso');
            },
            error: function () {
                toastr.error('Erro ao salvar arquivo.', 'Erro');
            }
        });
    }
</script>
